<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>issue</title>
  </head>
  <body>
    <br />
    <form class="form-inline my-2 my-lg-0" method="post" >
      {% csrf_token %}
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search Book "
        aria-label="Search "
        id="book_name"
        name="book_name"
      />

      <br />
      <button type="submit" name="action" value="search">Search Book</button>
    </form>
    {% if book %}
    <h2>Book Found</h2>
    <p>Title: {{ book.title }}</p>
    <p>Author: {{ book.author }}</p>

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="book_id" value="{{ book.book_id }}" />
      <button type="submit" name="action" value="issue">Issue Book</button>
    </form>
<p>{{issued_book.title}}</p>



    {% endif %}
    <br />
  </body>
</html>
