{% extends "libraryapp/base.html" %}
{% block main %}
<h1>User Profile</h1>
<p>Username: {{ request.user.username }}</p>
<h2>Borrowed Books</h2>
<ul>
{% for borrow in borrowed_books %}
    <li>{{borrow.book_id.title}} by {{borrow.book_id.author}} </li>
    {% comment %} <li>{{ borrow.book_name }} by {{ borrow.book_author }}</li> {% endcomment %}
    {% comment %} <a href="{% url 'return' book_id=borrow.book_id borrow_id=borrow.borrow_id %}">Return</a> {% endcomment %}
{% empty %}
    <li>No books borrowed.</li>
{% endfor %}
</ul>

{% endblock main %}